{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
<section class="main" style="height: 90vh;">
    <article class="position-relative search">
        <div class="form-group">
            <form method="POST">
                {{ form.csrf_token }}
                <!-- 오류 내용을 표시하도록 form.errors.item()  -->
                {% for field,errors in form.errors.items() %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ 'URL 형식으로 입력해 주세요' }}</strong> 
                </div>
                {% endfor %}
                <div class="input-group mb-3 w-75 position-absolute top-50 start-50 translate-middle">
                    <input type="text" class="form-control" placeholder="강의 URL" aria-label="Recipient's username"
                        aria-describedby="button-addon2" name='url'>
                    <button class="btn btn-outline-secondary search-btn" type="submit" id="button-addon2">강의 검색</button>
                </div>
            </form>
        </div>
    </article>
    <article class="des">
        <div class="des-container">
            <h4>강의 URL 추출하는 방법 <a>인프런 > 내 강의실 > 강의 링크 복사</a></h4>
            <div class="des-img-contain">
                <img src='../static/img/guide.png' class="des-img">
            </div>
        </div>
    </article>
</section>
{% endblock %}